<template>
    <div class="error error-not-found">
        <h1 class="error-title">Page Not Found</h1>
        <div class="error-body">
            <div class="error-description">The requested page could not be found.</div>
            <a href @click.prevent="goBack">Go Back</a>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            goBack() {
                this.$router.go(-1);
            }
        }
    }
</script>
