@import "~bulmaswatch/flatly/variables";

//Brand Colors
$facebook-blue: #3b5998;
$twitter-blue: #00aced;
$instagram-red: #e95950;
$linkedin-blue: #4875B4;

$facebook: #3B5998;
$facebook-invert: $white;

$google: #DB4437;
$google-invert: $white;

@import "~bulma/sass/utilities/functions";

$custom-colors: ("facebook": ($facebook, $facebook-invert), "google": ($google, $google-invert));