<template>
    <div class="is-page-header column is-paddingless">
        <section class="hero is-primary">
            <div class="hero-body">
                <div>
                    <p class="title is-4 has-text-weight-light">Satisfind Developer Test</p>
                </div>
            </div>
        </section>
        <section>
            <div class="columns is-marginless">
                <div class="column">
                    <div class="box">
                        <div class="level">
                            <!-- Left side -->
                            <div class="level-left">
                                <div class="level-item">
                                    <h1 class="title is-4">Projects</h1>
                                </div>
                            </div>
                            <div class="level-right">
                                <p class="level-item">
                                    <a class="button is-small is-success">Create Project</a>
                                </p>
                            </div>
                        </div>
                        <b-loading v-if="isLoading" key="loader" :is-full-page="false" :active.sync="isLoading" :can-cancel="false" class="preloader"></b-loading>
                        <b-table v-else :data="projects">
                            <template slot-scope="props">
                                <b-table-column label="Name">
                                </b-table-column>
                                <b-table-column label="Description">
                                </b-table-column>
                                <b-table-column label="Due Date">
                                </b-table-column>
                                <b-table-column label="Status">
                                </b-table-column>
                                <b-table-column label="Created At">
                                </b-table-column>
                                <b-table-column label="Last Updated">
                                </b-table-column>
                                <b-table-column label="Deleted">
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>No projects found</p>
                                    </div>
                                </section>
                            </template>
                        </b-table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import ResourceMixin from '../mixins/resources';

    export default {
        mixins: [ResourceMixin],

        data() {
            return {
                isLoading: null,
            }
        },

        mounted() {
            this.isLoading = true;
            console.log( 'loading');
            this.loadMultiple(['projects']).then(() => {
                console.log('loaded');
                this.isLoading = false;
            }).catch((e)=>{
                console.log(e);
            });
        },


        computed: {
            ...mapGetters(['projects']),
        }
    }
</script>
